In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas_profiling

In [26]:
patient=pd.read_csv('./data/patient.csv')
route=pd.read_csv('./data/route.csv')
time=pd.read_csv('./data/time.csv')

In [30]:
pr1=patient.profile_report()
pr1.to_file('./pr_patient.html') 
pr2=route.profile_report()
pr2.to_file('./pr_route.html')
pr3=time.profile_report()
pr3.to_file('./pr_time.html')

In [31]:
print(len(patient), len(route), len(time))

6285 102 46

In [32]:
patient.head()

,id,sex,birth_year,country,region,group,infection_reason,infection_order,infected_by,contact_number,confirmed_date,released_date,deceased_date,state
0,1.0,female,1984.0,China,filtered at airport,NaN,visit to Wuhan,1.0,NaN,45.0,2020-01-20,2020-02-06,NaN,released
1,2.0,male,1964.0,Korea,filtered at airport,NaN,visit to Wuhan,1.0,NaN,75.0,2020-01-24,2020-02-05,NaN,released
2,3.0,male,1966.0,Korea,capital area,NaN,visit to Wuhan,1.0,NaN,16.0,2020-01-26,2020-02-12,NaN,released
3,4.0,male,1964.0,Korea,capital area,NaN,visit to Wuhan,1.0,NaN,95.0,2020-01-27,2020-02-09,NaN,released
4,5.0,male,1987.0,Korea,capital area,NaN,visit to Wuhan,1.0,NaN,31.0,2020-01-30,2020-03-02,NaN,released

In [37]:
patient['deceased_date']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
6280    NaN
6281    NaN
6282    NaN
6283    NaN
6284    NaN
Name: deceased_date, Length: 6285, dtype: object

In [33]:
route.head()

,id,date,province,city,visit,latitude,longitude
0,1,2020-01-19,Incheon,Jung-gu,airport,37.460459,126.440680
1,1,2020-01-20,Incheon,Seo-gu,hospital_isolated,37.478832,126.668558
2,2,2020-01-22,Gyeonggi-do,Gimpo-si,airport,37.562143,126.801884
3,2,2020-01-23,Seoul,Jung-gu,hospital_isolated,37.567454,127.005627
4,3,2020-01-20,Incheon,Jung-gu,airport,37.460459,126.440680

In [34]:
time.head()

,176,acc_test,acc_negative,acc_confirmed,acc_released,acc_deceased,new_test,new_negative,new_confirmed,new_released,new_deceased
0,2020-01-20,1,0,1,0,0,1,0,1,0,0
1,2020-01-21,1,0,1,0,0,0,0,0,0,0
2,2020-01-22,4,3,1,0,0,3,3,0,0,0
3,2020-01-23,22,21,1,0,0,18,18,0,0,0
4,2020-01-24,27,25,2,0,0,5,4,1,0,0